name: Update Configs
permissions: write-all

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
        
    - name: Stash any local changes
      run: git stash
      
    - name: commit any local changes
      run: git commit
      
    - name: Install dependencies
      run: cd scripts && pip install -r requirements.txt

    - name: Install beautifulsoup4
      run: pip install beautifulsoup4

    - name: Run Config script and save output to file
      run: cd scripts && python app.py

    - name: Check changes
      run: |
        echo "Checking the changes made..."
        git status
        ls -l scripts/
        
    - name: Commit and push files
      run: |
        CURRENT_TIME=$(date +"%Y-%m-%d %H:%M:%S")
        git add .
        git commit -m "Updated at ${CURRENT_TIME} ⚡️"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Trigger workflow again
      uses: actions/github-script@v6
      with:
        script: |
          const { exec } = require('@actions/exec');
          await exec('gh', ['workflow', 'run', 'Update Configs.yml']);
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
